.Card {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    opacity: 1;
    cursor: pointer;
}

.Card:hover{
    opacity: 0.8;
}

.Card > img{
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.Card_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.Card_heart {
    position: absolute;
    top: 20px;
    right: 40px;
}
.Card_heart .liked{
    color : red;
}

.Card_infoTop{
    width: 40vw;
}

.Card_infoTop > h3{
    font-weight: 300;
    margin-top: 10px;
}

.Card_infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.Card_infoBottom {
    display: flex;
    justify-content: space-between;
}

.Card_star {
    color: red;
}

.Card_starts{
    display: flex;
    align-items: center;
}

.Cards_price > p{
    text-align: right;
}

.Cards_price{
    position: absolute;
    bottom: 20px;
    right: 30px;
}